<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSDynASM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VSDynASM.Properties.Settings>
            <setting name="LuaExecutable" serializeAs="String">
                <value>minilua.exe</value>
            </setting>
            <setting name="DynAsmDir" serializeAs="String">
                <value>luajit\dynasm</value>
            </setting>
            <setting name="DynAsmScript" serializeAs="String">
                <value>dynasm.lua</value>
            </setting>
            <setting name="DebugEnvVar" serializeAs="String">
                <value>VSDYNASM_DEBUG</value>
            </setting>
            <setting name="FlagsEnvVar" serializeAs="String">
                <value>DYNASM_FLAGS</value>
            </setting>
        </VSDynASM.Properties.Settings>
    </applicationSettings>
</configuration>